.header-form {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  opacity: 0;
  padding: 7rem 0 18.3rem;
  transition: opacity 0.3s 0.1s, height 0.1s 0.6s, width 0.1s 0.6s;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-form::-webkit-scrollbar {
  display: none;
}
.header-form.open {
  height: 100%;
  width: 70rem;
  opacity: 1;
  transition: opacity 0.7s 0.3s, height 0.1s, width 0.1s;
}
.header-form h2 {
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.4rem;
  letter-spacing: 0.07em;
  color: #ffffff;
  margin-bottom: 0;
}
.header-form form {
  margin-top: 10rem;
}
.header-form label,
.header-form input,
.header-form .cd-upload-btn {
  font-family: inherit;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #C6C6C6;
}
.header-form input:not([type='submit']):not([type='file']),
.header-form .textarea {
  width: 100%;
  min-width: 7rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  line-height: 2rem;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 0;
}
.header-form input:not([type='submit']):not([type='file']):-webkit-autofill,
.header-form .textarea:-webkit-autofill,
.header-form input:not([type='submit']):not([type='file']):-webkit-autofill:focus,
.header-form .textarea:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.header-form .field-group:not(:last-of-type) {
  margin-bottom: 4.2rem;
}
.header-form .textarea {
  cursor: text;
  display: inline-block;
  overflow: hidden;
  resize: none;
  min-height: 2rem;
}
.header-form .original-textarea {
  display: none;
}
.header-form .range-group {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.header-form .range-group label {
  display: flex;
  align-items: center;
}
.header-form .range-group label:last-of-type {
  margin-left: auto;
  width: 32rem;
}
.header-form .range-group .budget {
  width: 100%;
  margin: -1rem 1rem 0;
}
.header-form .range-group .budget-value {
  display: none;
}
.header-form .range-group .dollar-sign {
  margin-left: 0.5rem;
}
.header-form .range-group .linebreake {
  display: none;
}
.header-form .range-group input[type='number'],
.header-form .range-group .dollar-sign {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.header-form .range-group input[type='number'] {
  margin-left: 0.5rem;
  border-bottom: none !important;
  text-align: right;
  width: 12rem;
}
.header-form .range-group input[type='number']::-webkit-outer-spin-button,
.header-form .range-group input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.header-form .range-group input[type='number'] + .wpcf7-not-valid-tip {
  position: absolute;
  white-space: nowrap;
  top: 2.4rem;
}
.header-form input[type='file'] {
  display: none;
}
.header-form .file-upload-group .codedropz-upload-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.header-form .file-upload-group .codedropz-upload-container {
  padding: 0;
}
.header-form .file-upload-group .codedropz-upload-handler {
  border: none;
  margin-bottom: 0;
  margin-right: auto;
  width: 27.7rem;
}
.header-form .file-upload-group .cd-upload-btn {
  visibility: hidden;
}
.header-form .file-upload-group .cd-upload-btn:after {
  content: '+ Attach RFP / Documents';
  visibility: visible;
  display: block;
  position: absolute;
  white-space: nowrap;
}
.header-form .file-upload-group h3,
.header-form .file-upload-group h3 + span,
.header-form .file-upload-group .dnd-upload-counter {
  display: none;
}
.header-form .file-upload-group .dnd-upload-status {
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 5rem;
  width: 17rem;
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-image {
  display: none;
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details {
  width: auto;
  max-width: 13.5rem;
  padding-left: 0;
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details .dnd-progress-bar,
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details .name em {
  display: none;
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details .name {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
  letter-spacing: 0.07em;
  padding: 0.6rem 0 0.5rem 1.4rem;
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details .name span {
  padding: 0;
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details .remove-file {
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details .remove-file span:after {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../../img/icons/file-close.webp);
}
.header-form .file-upload-group .dnd-upload-status .dnd-upload-details span.has-error {
  position: absolute;
  white-space: nowrap;
  font-size: 1.2rem;
}
.header-form .submit-group {
  margin: 8rem auto 0;
  width: fit-content;
}
.header-form input[type='submit'] {
  width: 20rem;
  height: 5rem;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  padding-right: 2.7rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.07em;
  text-align: left;
  transition: 0.15s background-position ease-in-out, 0.15s border ease-in-out;
}
.header-form input[type='submit']:hover {
  border: 4px solid;
  background-position: center right 2.4rem;
}
@media (max-width: 700px) {
  .header-form input[type='submit'] {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.header-form .submit-arrow {
  background: url(../../img/icons/arrow-right.svg) no-repeat center right 2.7rem;
  background-size: 1.8rem 1.2rem;
}
.header-form .wpcf7-response-output,
.header-form .wpcf7-spinner {
  display: none;
}
.header-form .wpcf7-not-valid-tip {
  position: absolute;
  font-size: 1.2rem;
}
@media (min-width: 1400px) and (max-width: 1700px) and (max-height: 900px) {
  .header-form {
    padding: 3rem 0;
  }
  .header-form form {
    margin-top: 5rem;
  }
}
@media (max-width: 820px) {
  .header-form {
    left: 5rem;
    transform: translateX(0);
  }
  .header-form.open {
    width: 60rem;
  }
  .header-form h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .header-form label,
  .header-form input,
  .header-form .textarea,
  .header-form .cd-upload-btn {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .header-form .range-group label:last-of-type {
    margin-left: auto;
    width: 28rem;
  }
  .header-form .range-group input[type='number'],
  .header-form .range-group .dollar-sign {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .header-form .file-upload-group .dnd-upload-status {
    width: 15rem;
  }
  .header-form .file-upload-group .dnd-upload-status .dnd-upload-details {
    max-width: 11rem;
  }
  .header-form .file-upload-group .dnd-upload-status .dnd-upload-details .name {
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding: 0.5rem 0 0.5rem 1.2rem;
  }
  .header-form input[type='submit'] {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding-top: 0.1rem;
  }
}
@media (max-width: 700px) {
  .header-form {
    font-size: initial !important;
    padding: 3rem 0;
    left: 1.5rem;
  }
  .header-form.open {
    width: 26rem;
  }
  .header-form h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .header-form form {
    margin: 4rem auto 0;
    width: 22rem;
  }
  .header-form label,
  .header-form input,
  .header-form .textarea,
  .header-form .cd-upload-btn {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .header-form .field-group:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .header-form .range-group {
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .header-form .range-group label {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    position: relative;
  }
  .header-form .range-group label:last-of-type {
    flex-direction: row;
    align-items: center;
  }
  .header-form .range-group .budget {
    max-width: 16rem;
    padding-top: unset;
  }
  .header-form .range-group .dollar-sign {
    position: absolute;
    left: 34%;
    top: 40%;
    margin-top: 0;
  }
  .header-form .range-group input[type='number'],
  .header-form .range-group .dollar-sign {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 1rem;
  }
  .header-form .range-group input[type='number'] {
    margin-left: 0;
    width: auto;
  }
  .header-form .file-upload-group .codedropz-upload-wrapper {
    justify-content: flex-start;
  }
  .header-form .file-upload-group .dnd-upload-status {
    width: 12rem;
  }
  .header-form .file-upload-group .dnd-upload-status .dnd-upload-details {
    max-width: 8.9rem;
  }
  .header-form .file-upload-group .dnd-upload-status .dnd-upload-details .name {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0.6rem 0 0.6rem 0.8rem;
  }
  .header-form .file-upload-group .dnd-upload-status .dnd-upload-details .remove-file {
    right: 1rem;
  }
  .header-form .submit-group {
    margin: 4rem auto 0;
  }
  .header-form input[type='submit'] {
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 15rem;
    height: 3.5rem;
  }
  .header-form .submit-arrow {
    background: url(../../img/icons/arrow-right.svg) no-repeat center right 1.5rem;
  }
}
.thank-you-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s 0.2s, height 0.1s 0.3s, width 0.1s 0.3s;
}
.thank-you-modal::before {
  content: '';
  position: absolute;
  background: linear-gradient(rgba(87, 54, 88, 0.7), rgba(87, 54, 88, 0.7)), url(../../img/header_form_blur_bg.webp) no-repeat top center / cover;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s 0.2s, height 0.1s 0.3s, width 0.1s 0.3s;
  z-index: -1;
}
.thank-you-modal h2,
.thank-you-modal .btn,
.thank-you-modal p {
  display: none;
}
.thank-you-modal.open {
  padding: 7rem 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition: opacity 0.4s 0.1s, height 0.1s, width 0.1s;
}
.thank-you-modal.open::before {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s 0.1s, height 0.1s, width 0.1s;
}
.thank-you-modal.open h2,
.thank-you-modal.open .btn,
.thank-you-modal.open p {
  display: flex;
}
.thank-you-modal.open h2 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.4rem;
  letter-spacing: 0.07em;
  color: #ffffff;
  margin-bottom: 0;
}
.thank-you-modal.open p {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  max-width: 55rem;
  margin-top: 5rem;
  text-align: center;
}
.thank-you-modal.open .btn {
  margin-top: 5rem;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  width: 10rem;
}
.thank-you-modal.open .btn svg {
  margin-left: 1rem;
  width: 1.8rem;
  height: 1.2rem;
}
.thank-you-modal.open .btn:hover {
  background: transparent;
  color: #ffffff;
  border: 4px solid #ffffff;
}
@media (max-width: 820px) {
  .thank-you-modal.open h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .thank-you-modal.open p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    max-width: 46.6rem;
    margin-top: 4rem;
  }
  .thank-you-modal.open .btn {
    margin-top: 4rem;
  }
}
@media (max-width: 700px) {
  .thank-you-modal.open h2 p .btn {
    transform: translateY(-7rem);
  }
  .thank-you-modal.open h2 {
    font-size: 2rem;
    line-height: 3.8rem;
  }
  .thank-you-modal.open p {
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 26rem;
    margin-top: 3rem;
  }
  .thank-you-modal.open .btn {
    margin-top: 3rem;
    padding: 0.8rem 0;
  }
}
/*# sourceMappingURL=header-form.css.map */
